<h1>Welcome here</h1>

<p>All Products</p>

<% @products.each_with_index do |product, index| %>
  <div>
    <strong>Product <%= index + 1 %>:</strong><br>
    Title: <%= product.title %><br>
    Description: <%= product.description %><br>
    Price: <%= product.price %><br>
    <br/>
    <%= link_to "Edit product", edit_product_path(product)%> | <%= button_to 'Delete', product_path(product), 
 method: :delete, data: { confirm: "Are you sure?" }  %>
    
<% end %>



<br/>
<br/>
Want to create new product? <%= link_to 'Click here', new_product_path%>

